* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -42px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 42px;
}
.site-footer {
    background: #95a5a6;
}

.questionForm .form-group {
    display: inline!important;
}

.questionForm .form-group .form-control {
    width: 90% !important;
    display: inherit !important;
}

#deleteForm {
    display: inherit;
}

#bottomBtns form {
    display: inline;
}

#bottomBtns {
    padding-bottom: 20px;
}

#bottomLast {
    padding-bottom: 80px;
}

#bottomSides {
    padding-left: 20px;
    padding-right: 20px;
}

#addButton {
    position: absolute;
    right:10px;
    width: 300px;
}

#profile {
    /*position: absolute;*/
    top:80px;
}