<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.0">

    <display-name>Lukianova Final Project</display-name>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>ua.nure.lukianova.SummaryTask4.web.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>CommandAccessFilter</filter-name>
        <filter-class>ua.nure.lukianova.SummaryTask4.web.filter.CommandAccessFilter</filter-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>showProfile listUsers listTests addTest addQuestion addQuestions saveTest deleteTest editTest addNewQuestion updateTest deleteQuestion saveQuestion updateQuestion lockUser</param-value>
        </init-param>
        <init-param>
            <param-name>student</param-name>
            <param-value>showProfile listTests runTest evaluteResult</param-value>
        </init-param>
        <init-param>
            <param-name>common</param-name>
            <param-value>listTests logout noCommand</param-value>
        </init-param>
        <init-param>
            <param-name>out-of-control</param-name>
            <param-value>login register logout</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>CommandAccessFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>


    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ua.nure.lukianova.SummaryTask4.web.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/WEB-INF/jsp/*</url-pattern>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    


</web-app>

